<div class="expandbox sensor" data-id="pulse">
    <div class="info">
        <div class="preview">
            <div class="icon">
                <div class="{{sensorType}}"></div>
            </div>
            <div class="data">
                <div class="main" id="pulse">
                  {{data}}
                </div>
                <span class="status">Status: OK</span>
            </div>
        </div>
        <div class="details">
          <div class="graph-area">
          </div>
        </div>
        <div class="more-info users-info expand-details" data-id="{{mac}}" data-key="{{sensorKey}}">
            <div class="arrow"></div>
        </div>
    </div>
</div>
