<div class="expandbox sensor" data-id="pulse">
  <div class="info">
    <div class="preview">
      <div class="icon">
        <div class="{{sensorType}}"></div>
      </div>
      <div class="data">
        <div class="main" id="pulse">
          {{data}}
        </div>
        <span class="status">Status: OK</span>
      </div>
    </div>
  </div>
</div>