body
  font-family: "Ubuntu", "Lucida Grande", Helvetica, Arial, sans-serif
  font-size: 14px
  color: #555

#mainDiv
  background-color: #F4F4F4
  width: 85%
  margin-left: 15%
  padding: 0 40px
  overflow: hidden

h2, h1, h3
  margin: 0
