<div class="expandbox">
  <div class="info">
    <div class="preview">
      <h1>{{this.firstName}} {{this.lastName}}</h1>
      <p>{{this.mac}}</p>
    </div>
    <div class="details">
    </div>
    <div class="more-info users-info" data-id="{{this.mac}}">
      <div class="arrow"></div>
    </div>
  </div>
</div>
