body {
  font-family: "Ubuntu", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #555; }

#mainDiv {
  background-color: #F4F4F4;
  width: 85%;
  margin-left: 15%;
  padding: 0 40px;
  overflow: hidden; }

h2, h1, h3 {
  margin: 0; }

#logo {
  height: 150px;
  width: 100%;
  background-color: #39B4EE;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }
  #logo h2 {
    margin: 0;
    color: #FFF; }

#indexMeny {
  position: fixed;
  height: 100%;
  width: 15%;
  background-color: #343941;
  transition: all .5s ease; }

.nav-index a {
  color: #8794AA;
  transition: all .2s ease;
  font-size: 1.3em; }
  .nav-index a .badge {
    font-weight: 300;
    font-size: 0.8em;
    background-color: #EE3939; }
  .nav-index a ul.nav a:hover {
    background-color: #515965;
    color: #FFF;
    border-right: 15px solid #4A90E2; }

.nav > li > a {
  padding-left: 30px;
  border-radius: 0; }

path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none; }

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges; }

#search-bar {
  display: block;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #979797;
  background-color: #ECEAEA;
  color: #8A8A8A;
  font-size: 1.4em;
  text-align: center;
  padding-left: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all .3s ease; }
  #search-bar:focus {
    outline: none;
    color: #666;
    background-color: #FFF; }

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white; }

#search-bar {
  margin: 0 auto;
  margin-top: 40px; }

#sensor-info .info {
  max-width: 800px;
  background-color: #FFF;
  margin: 15px auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 20px; }

.sensors .sensor {
  margin: 0 auto;
  background-color: #FFF;
  margin-bottom: 15px;
  max-width: 800px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out; }
  .sensors .sensor .info {
    transition: max-height .6s ease;
    overflow: hidden;
    max-height: 90px;
    padding: 0 20px; }
    .sensors .sensor .info .preview {
      margin-top: 5px;
      height: 90px;
      display: flex;
      align-items: center; }
      .sensors .sensor .info .preview .data {
        margin-left: 20px; }
        .sensors .sensor .info .preview .data .main {
          font-size: 3em;
          width: 180px; }
        .sensors .sensor .info .preview .data .time-stamp {
          font-size: 1.1em;
          color: #666;
          margin-top: -5px; }
      .sensors .sensor .info .preview .icon {
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .sensors .sensor .info .preview .icon > div {
          background-repeat: no-repeat;
          display: block;
          text-indent: -9999px;
          transition: all .1s ease; }
      .sensors .sensor .info .preview .heartrate {
        background: url(/images/heartrate.svg);
        background-size: 70px 70px;
        width: 70px;
        height: 70px; }
      .sensors .sensor .info .preview .battery {
        background: url(/images/battery.svg);
        background-size: 60px 37px;
        width: 60px;
        height: 37px; }
      .sensors .sensor .info .preview .CO {
        background: url(/images/CO.svg);
        background-size: 71px 58px;
        width: 71px;
        height: 58px; }
      .sensors .sensor .info .preview .temperature {
        background: url(/images/temperature.svg);
        background-size: 46px 58px;
        width: 46px;
        height: 58px; }
      .sensors .sensor .info .preview .progress {
        display: block;
        width: 600px;
        margin: 0 0 0 30px;
        float: right; }
      .sensors .sensor .info .preview .status {
        font-size: 2em; }
  .sensors .sensor .maximized {
    max-height: 800px; }
  .sensors .sensor .more-info {
    display: flex;
    justify-content: center;
    height: 35px;
    width: 100px;
    width: auto;
    transition: all .3s ease; }
    .sensors .sensor .more-info:hover {
      background-color: #F1F1F1;
      cursor: pointer; }
    .sensors .sensor .more-info .arrow {
      position: relative;
      top: -2px;
      display: block;
      margin: 10px auto;
      width: 25px;
      height: 25px;
      background: url(/images/arrow.svg);
      background-size: 25px 22px;
      transition: all .3s ease; }
    .sensors .sensor .more-info .rotated {
      top: -6px;
      transform: rotate(180deg); }

.notifications {
  max-width: 800px;
  margin: 0 auto; }
  .notifications .notification {
    background-color: #FFF;
    max-width: 800px;
    padding: 15px;
    position: relative;
    margin-bottom: 20px; }
    .notifications .notification h3 {
      margin: 0 0 10px 0; }
    .notifications .notification p {
      max-width: 600px; }
    .notifications .notification .dropdown {
      position: absolute;
      right: 0;
      top: 0;
      padding: 10px;
      border: none; }
      .notifications .notification .dropdown button {
        border: none;
        transition: all .1s ease; }

#graph-holder {
  width: 670px; }

#worker-info {
  padding: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #CAC7C7; }

.alarmDiv {
  width: 100%;
  height: 100px; }

/*# sourceMappingURL=style.css.map */