body {
  font-family: "Ubuntu", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #555; }

#wrapper {
  height: 800px; }

#mainDiv {
  background-color: #EDEDED;
  width: 85%;
  margin-left: 15%;
  overflow: hidden; }

#logo {
  height: 150px;
  width: 100%;
  background-color: #D8D8D8;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }
  #logo h2 {
    margin: 0; }

#indexMeny {
  position: fixed;
  height: 100%;
  width: 15%;
  background-color: #343941; }

.nav-index a {
  color: #8794AA;
  transition: all .2s ease;
  font-size: 1.3em; }
  .nav-index a .badge {
    font-weight: 300;
    font-size: 0.8em;
    background-color: #EE3939; }

ul.nav a:hover {
  background-color: #515965;
  color: #FFF; }

.nav > li > a {
  padding-left: 30px; }

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white; }

#person-search-field {
  height: 200px;
  font-size: 30px;
  color: #555;
  text-align: center; }

#personal-data {
  margin-bottom: 50px; }
  #personal-data .row {
    margin-bottom: 40px; }
  #personal-data .sensor {
    display: flex;
    align-items: center; }
    #personal-data .sensor .data {
      margin-left: 20px; }
      #personal-data .sensor .data .main {
        font-size: 3em; }
      #personal-data .sensor .data .time-stamp {
        font-size: 1.1em;
        color: #666;
        margin-top: -5px; }
    #personal-data .sensor .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 115px;
      height: 115px;
      border-radius: 100%;
      border: 2px soild #CAC7C7;
      background: #CAC7C7;
      transition: all .1s ease; }
      #personal-data .sensor .icon:hover {
        transform: scale(1.1);
        cursor: pointer;
        border: 2px solid #7D7D7D; }
      #personal-data .sensor .icon > div {
        background-repeat: no-repeat;
        display: block;
        text-indent: -9999px; }
    #personal-data .sensor .heartrate {
      background: url(/images/heartrate.svg);
      background-size: 51px 51px;
      width: 51px;
      height: 51px; }
    #personal-data .sensor .battery {
      background: url(/images/battery.svg);
      background-size: 60px 37px;
      width: 60px;
      height: 37px; }
    #personal-data .sensor .CO {
      background: url(/images/CO.svg);
      background-size: 71px 58px;
      width: 71px;
      height: 58px; }
    #personal-data .sensor .temperature {
      background: url(/images/temperature.svg);
      background-size: 46px 58px;
      width: 46px;
      height: 58px; }

.notifications {
  max-width: 800px;
  margin: 0 auto; }
  .notifications .notification {
    background-color: #FFF;
    max-width: 800px;
    padding: 15px;
    position: relative;
    margin-bottom: 20px; }
    .notifications .notification h3 {
      margin: 0 0 10px 0; }
    .notifications .notification p {
      max-width: 600px; }
    .notifications .notification .dropdown {
      position: absolute;
      right: 0;
      top: 0;
      padding: 10px;
      border: none; }
      .notifications .notification .dropdown button {
        border: none;
        transition: all .1s ease; }

/*# sourceMappingURL=style.css.map */