#person-search-field
  height: 200px
  font-size: 30px
  color: #555
  text-align: center


#personal-data
  margin-bottom: 50px

  .row
    margin-bottom: 40px

  .sensor
    display: flex
    align-items: center

    .data
      margin-left: 20px

      .main
        font-size: 3em

      .time-stamp
        font-size: 1.1em
        color: #666
        margin-top: -5px

    .icon
      display: flex
      justify-content: center
      align-items: center
      width: 115px
      height: 115px
      border-radius: 100%
      border: 2px soild #CAC7C7
      background: #CAC7C7
      transition: all .1s ease

      &:hover
        transform: scale(1.1)
        cursor: pointer
        border: 2px solid #7D7D7D

      &>div
        background-repeat: no-repeat
        display: block
        text-indent: -9999px
        transition: all .1s ease

    .heartrate
      background: url(/images/heartrate.svg)
      background-size: 51px 51px
      width: 51px
      height: 51px


    .battery
      background: url(/images/battery.svg)
      background-size: 60px 37px
      width: 60px
      height: 37px

    .CO
      background: url(/images/CO.svg)
      background-size: 71px 58px
      width: 71px
      height: 58px

    .temperature
      background: url(/images/temperature.svg)
      background-size: 46px 58px
      width: 46px
      height: 58px


.notifications
  max-width: 800px
  margin: 0 auto

  .notification
    background-color: #FFF
    max-width: 800px
    padding: 15px
    position: relative
    margin-bottom: 20px

    h3
      margin: 0 0 10px 0

    p
      max-width: 600px

    .dropdown
      position: absolute
      right: 0
      top: 0
      padding: 10px
      border: none

      button
        border: none
        transition: all .1s ease
