#search-bar
  margin: 0 auto
  margin-top: 80px

.result
  max-width: 800px
  margin: 0 auto
  margin-top: 50px

.sensor
  margin: 0 auto
  max-width: 800px
  margin-bottom: 10px

  .info
    transition: max-height .6s ease
    overflow: hidden
    max-height: 60px
    padding: 0 20px

    .preview
      margin-top: 5px
      height: 55px
      display: flex
      align-items: center

      .data
        margin-left: 20px
        font-size: 0.8em

        .main
          font-size: 3em
          width: 180px

        .time-stamp
          font-size: 1.1em
          color: #666
          margin-top: -5px

      .icon
        width: 80px
        display: flex
        justify-content: center
        align-items: center

        &>div
          background-repeat: no-repeat
          display: block
          text-indent: -9999px
          transition: all .1s ease

      .heartrate
        background: url(/images/heartrate.svg)
        background-size: 50px 50px
        width: 50px
        height: 50px

      .battery
        background: url(/images/battery.svg)
        background-size: 60px 37px
        width: 60px
        height: 37px

      .CO
        background: url(/images/CO.svg)
        background-size: 65px 52px
        width: 65px
        height: 52px

      .temperature
        background: url(/images/temperature.svg)
        background-size: 40px 52px
        width: 40px
        height: 52px

      .status
        font-size: 2em

    .details

  .maximized
    max-height: 800px
    background-color: #FFF

    .more-info
      display: flex
      justify-content: center
      height: 35px
      width: 100px
      width: auto
      transition: all .3s ease

      &:hover
        background-color: #F1F1F1
        cursor: pointer

      .arrow
        position: relative
        top: -2px
        display: block
        margin: 10px auto
        width: 25px
        height: 25px
        background: url(/images/arrow.svg)
        background-size: 25px 22px
        transition: all .3s ease

      .rotated
        top: -6px
        transform: rotate(180deg)

.notifications
  max-width: 800px
  margin: 0 auto

  .notification
    background-color: #FFF
    max-width: 800px
    padding: 15px
    position: relative
    margin-bottom: 20px

    h3
      margin: 0 0 10px 0

    p
      max-width: 600px

    .dropdown
      position: absolute
      right: 0
      top: 0
      padding: 10px
      border: none

      button
        border: none
        transition: all .1s ease

#graph-holder
  width: 670px
