<div id="alarms_search_field" class="alarmsDiv container">
    Search by name<input id="workers-alarms" type="text" value="enter name" >
</div>



<script src="javascripts/alarms.js" charset="utf-8"></script>
