<div id="search-div">
    <input id="search-bar" class="workers-alarms" type="text" placeholder="enter name" >
</div>
<div class="result"></div>


<script src="javascripts/alarms.js" charset="utf-8"></script>
<script src="javascripts/sensor-maximize.js" charset="utf-8"></script>