<div id="alarms_search_field" class="alarmsDiv container">
    Search by name<input id="workers-alarms" type="text" placeholder="enter name" >
</div>



<script src="javascripts/alarms.js" charset="utf-8"></script>
<script src="javascripts/sensor-maximize.js" charset="utf-8"></script>