<Button id="client_button" onclick="client.clientButton()">Press Me</Button>
<Div id="client_div">{{value}}</Div>
<Div class="chart"></Div>

<Button id="bar_chart_button" onclick="client.createBarChart()">Make bar chart</Button>
<Button id="graph_button" onclick="client.createGraph()">Make graph</Button>
