<form action="" >
    <input id="prefix"placeholder="prefix"/><br>
    <input id="ip"    placeholder="ip:port"/><br>
    <input id="key"   placeholder="key"/><br>
    <input id="value" placeholder="value"/><br>
</form>
<button onclick="client.submitForm()">Set content</button><br>
<button onclick="client.addRoute()">Add Route</button><br>
<button onclick="client.getContent()">Get content</button>
<ul id="content_list"/>
