<!DOCTYPE html>
<html>
  <head>

    <title>{{title}}</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/toastr/toastr.css" charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css'>




  </head>
  <body>


  <script src="bower_components/jquery/dist/jquery.js" charset="utf-8"></script>
  <script src="bower_components/handlebars/handlebars.runtime.min.js" charset="utf-8"></script>
  <script src="bower_components/toastr/toastr.js" charset="utf-8"></script>
  <script src="bower_components/socket.io-client/socket.io.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="javascripts/client.js"></script>
  <script src="javascripts/real-time.js" charset="utf-8"></script>
  <script src="javascripts/sensor.js" charset="utf-8"></script>
  <script src="javascripts/sensor-maximize.js" charset="utf-8"></script>

    <div id="indexMeny">
        <div id="logo">
            <h2>LogoType</h2>
        </div>
        <ul class="nav nav-pills nav-stacked nav-index" role="tablist">
            <li><a href="/users">Users</a></li>
            <li><a href="/alarms">Alarms <span class="badge">42</span></a></li>
        </ul>
    </div>
    <div id="mainDiv">
        {{{body}}}
    </div>



  </body>
</html>
