<input type="text" placeholder="Search" id="search-bar">

<section id="sensor-info">
  <div class="info">
   <h1 id="worker-name">Person</h1>
    <p>Working in section d</p>
    <p>health status OK!</p>
    <p id="phoneId">id = NAN</p>
    <div class="time-stamp"></div>
  </div>
</section>

  <section class="sensors">

    <div class="sensor" data-id="pulse">

      <div class="info">
        <div class="preview">
          <div class="icon">
            <div class="heartrate"></div>
          </div>
          <div class="data">
            <div class="main" id="pulse">NAN</div>
          </div>
          <span class="status">Status: OK</span>
        </div>
        <div class="details">
          <h2>Graph</h2>
          <div id="graph-area"></div>
        </div>
      </div>
      <div class="more-info">
        <div class="arrow"></div>
      </div>
    </div>


    <div class="sensor" data-id="bodyTemp">

      <div class="info">
        <div class="preview">
          <div class="icon">
            <div class="temperature"></div>
          </div>
          <div class="data">
            <div class="main" id="bodyTemp">NAN</div>
          </div>
          <span class="status">Status: OK</span>
        </div>
        <div class="details">
          <h2>Graph</h2>
          <div id="graph-area"></div>
        </div>
      </div>
      <div class="more-info">
        <div class="arrow"></div>
      </div>
    </div>

    <div class="sensor" data-id="envTemp">

      <div class="info">
        <div class="preview">
          <div class="icon">
            <div class="temperature"></div>
          </div>
          <div class="data">
            <div class="main" id="envTemp">NAN</div>
          </div>
          <span class="status">Status: OK</span>
        </div>
        <div class="details">
          <h2>Graph</h2>
          <div id="graph-area"></div>
        </div>
      </div>
      <div class="more-info">
        <div class="arrow"></div>
      </div>
    </div>


    <div class="sensor" data-id="co2">

      <div class="info">
        <div class="preview">
          <div class="icon">
            <div class="CO"></div>
          </div>
          <div class="data">
            <div class="main" id="co2">NAN</div>
          </div>
          <span class="status">Status: OK</span>
        </div>
        <div class="details">
          <h2>Graph</h2>
          <div id="graph-area"></div>
        </div>
      </div>
      <div class="more-info">
        <div class="arrow"></div>
      </div>
    </div>



</section>




<div class="notifications">

  <h2>Notifications</h2>

  <div class="notification">
    <h3>ID 3221 - West activated</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="time-stamp">2016 -01-20 12:31</div>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Archive</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Delete</a></li>
      </ul>
    </div>
  </div>

  <div class="notification">
    <h3>ID 3221 - West activated</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="time-stamp">2016 -01-20 12:31</div>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Archive</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Delete</a></li>
      </ul>
    </div>
  </div>

  <div class="notification">
    <h3>ID 3221 - West activated</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="time-stamp">2016 -01-20 12:31</div>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Archive</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Delete</a></li>
      </ul>
    </div>
  </div>



</div>






<script src="javascripts/real-time.js" charset="utf-8"></script>
<script src="javascripts/sensor-maximize.js" charset="utf-8"></script>
