


<div id="person-search-field">
  <div class="row">
    <div class="col-md-12"><h2>#välj användare</h2></div>
  </div>
    <ul class="nav nav-pills nav-stacked nav-real-time" role="tablist">
        <li><a class="workers" href="#">erikuu</a></li>
        <li><a class="workers" href="#">al bundy</a></li>
        <li><a class="workers" href="#">donald duck</a></li>
        <li><a class="workers" href="#">somebody</a></li>
        <li><a class="workers" href="#">more...</a></li>
    </ul>
</div>
<div id="worker-info" class="container">
    <div class="row">

        <div class="col-md-4 col-md-offset-2">
            <div>
               <h1 id="worker-name">Person</h1>
                <p>Working in section d</p>
                <p>health status OK!</p>
            </div>
        </div>
    </div>

</div>
<div id="personal-data" class="container">

  <div class="row">

    <div class="col-md-4 col-md-offset-2">
      <div class="sensor" data-id="heartrate">
        <div class="icon">
          <div class="heartrate"></div>
        </div>
        <div class="data">
          <div class="main">80 BPM</div>
          <div class="time-stamp">20-01-2016, 15:38</div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-md-offset-1">
      <div class="sensor" data-id="battery">
        <div class="icon">
          <div class="battery"></div>
        </div>
        <div class="data">
          <div class="main">56%</div>
          <div class="time-stamp">20-01-2016, 15:38</div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-4 col-md-offset-2">
      <div class="sensor" data-id="temperature">
        <div class="icon">
          <div class="temperature"></div>
        </div>
        <div class="data">
          <div class="main">16C°</div>
          <div class="time-stamp">20-01-2016, 15:38</div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-md-offset-1">
      <div class="sensor" data-id="CO">
        <div class="icon">
          <div class="CO"></div>
        </div>
        <div class="data">
          <div class="main">37ppm</div>
          <div class="time-stamp">20-01-2016, 15:38</div>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="notifications">

  <h2>Notifications</h2>

  <div class="notification">
    <h3>ID 3221 - West activated</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="time-stamp">2016 -01-20 12:31</div>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Archive</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Delete</a></li>
      </ul>
    </div>
  </div>

  <div class="notification">
    <h3>ID 3221 - West activated</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="time-stamp">2016 -01-20 12:31</div>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Archive</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Delete</a></li>
      </ul>
    </div>
  </div>

  <div class="notification">
    <h3>ID 3221 - West activated</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="time-stamp">2016 -01-20 12:31</div>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Archive</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Delete</a></li>
      </ul>
    </div>
  </div>



</div>




<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" id="graph-holder">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body" >
          <div id="graph-area"></div>
          <b>Choose time:</b>
          <form class="form-inline" role="form">

              <div class="form-group">
                  <label for="date1">From:</label>
                  <input type="text" class="form-control" id="datepicker1">
              </div>
              <div class="form-group">
                  <label for="date2">To:</label>
                  <input type="text" class="form-control" id="datepicker2">
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-default">Submit</button>
              </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<script src="javascripts/real-time.js" charset="utf-8"></script>
